.main-container {
  max-width: 1100px;
  margin: 40px auto;
  background-color: #fff;
  padding: 50px 60px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #333;
}

.resume-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* columnas iguales */
  gap: 60px;
  margin-top: 1px;
}


.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.left-column > *,
.right-column > * {
  padding-bottom: 20px;
   
}

h3, .titulo {
  font-size: 1.3rem;
  color: #d62828;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p, li {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

app-work-experience,
app-education,
app-skills,
app-certificates,
app-languages,
app-interests {
  background: none;
  padding: 0;
  box-shadow: none;
  border: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .resume-layout {
    grid-template-columns: 1fr;
  }

  .main-container {
    padding: 30px 20px;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
  }
}
